{%}projects_tagName{%}div
{%}projects_className{%}tabbable tabs-left 
{%}projects{%}
<ul class="nav nav-tabs jsc_projects"></ul>

{%}project_tagName{%}li
{%}project_className{%}nav-tab
{%}project{%}
<a href="#$(.id)">$(.name)</a>

{%}edit_project_tagName{%}
{%}edit_project_className{%}jsc_project
{%}edit_project{%}
<div class="row-fluid">
  <div class="span1"></div>
  <input type="text" class="jscinput_name span10" value="$(.name)" />
</div>
<div class="btn-toolbar row-fluid">
  <div class="span1"></div>
  <div class="span9">
	<div class="btn-group">
	  <button class="btn btn-success  btn-small jscbtn_save">保存</button>
	</div>
	<div class="btn-group">
	  <button class="btn btn-small jscbtn_to_view">キャンセル</button>
	</div>
  </div>
  <div class="span2">
	<button class="btn btn-danger btn-small jscbtn_delete">削除</button>
  </div>
</div>

{%}view_project_tagName{%}
{%}view_project_className{%}jsc_project
{%}view_project{%}
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span9 jscbtn_to_edit">
	$(.name)
  </div>
  <div class="span2">
	<button class="btn btn-small jscbtn_to_edit">編集</button>
  </div>
</div>

{%}tab_item_add{%}
<li class="nav-tab jscbtn_add_project"><a><i class="icon-plus"></i>プロジェクト追加</a></li>

{%}add_project_tagName{%}
{%}add_project_className{%}
{%}add_project{%}
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span3">プロジェクト名</div>
  <input type="text" class="jscinput_name span8" value="$(.name)" />
</div>
<div class="btn-toolbar row-fluid">
  <div class="span3"></div>
  <div class="span9">
	<div class="btn-group">
	  <button class="btn btn-success  btn-small jscbtn_save">保存</button>
	</div>
	<div class="btn-group">
	  <button class="btn btn-small jscbtn_close_dialog">キャンセル</button>
	</div>
  </div>
</div>
