{%}list_tagName{%}
{%}list_className{%}
{%}list_container{%}.jsc_list
{%}list{%}
<ul class="nav nav-pills nav-stacked jsc_list"></ul>
<button class="btn btn-default jscbtn_add_task"><i class="fa fa-plus"></i> タスク登録</button>

{%}item_tagName{%}
{%}item_className{%}task
{%}item_view{%}
<div class="name">
	<input type="checkbox" class="jsccheck_finished" $(.finished) />
	$(.option_values.name)
  <button class="btn btn-default jscbtn_to_edit"><i class="fa fa-edit"></i> 編集</button>
</div>
<div class="date">
	$(.element_datetime)
</div>
<div class="memo">
	$(.option_values.memo)
</div>

{%}item_edit{%}
<div class="form-group form-inline">
	<input type="checkbox" class="jsccheck_finished" $(.finished) />
	<input type="text" class="jscinput_name" value="$(.option_values.name)" />
</div>
<div class="form-group">
	<input type="date" class="form-control jscinput_date" value="$(.element_datetime)" />
</div>
<div class="form-group">
	<textarea class="form-control jscinput_memo" rows="5">$(_option_values.memo)</textarea>
</div>
<div class="form-group">
	<button class="btn btn-primary jscbtn_save">保存</button>
	<button class="btn btn-default jscbtn_to_view">キャンセル</button>
	<button class="btn btn-danger jscbtn_delete">削除</button>
</div>

{%}confirm_delete{%}
タスク「$(.name)」を削除します。
