{%}list_tagName{%}
{%}list_className{%}
{%}list_container{%}.js_list
{%}list{%}
<ul class="nav nav-pills js_list"></ul>
<button class="btn btn-default jsbtn_add_project"><i class="fa fa-plus"></i> プロジェクト登録</button>

{%}item_tagName{%}li
{%}item_className{%}
{%}item{%}
<a href="#$(.id)">$(.name)</a> 

{%}project_tagName{%}
{%}project_className{%}panel panel-default project
{%}project_style{%}
{%}project_css{%}
{%}project{%}
<div class="panel-heading clearfix;">
	<button type="button" class="close pull-right jsbtn_close_panel"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="panel-body">
	<div class="header"></div>
	<div class="details"></div>
</div>

{%}header_tagName{%}
{%}header_className{%}
{%}header_css{%}
.memo {
  padding: 10px 30px;
}

{%}header{%}
<h4>
	<button class="btn btn-default jsbtn_to_edit"><i class="fa fa-edit"></i>編集</button>
	<a href="/collection?key=$(.id)" target="collection_$(.id)">$(.name)</a>
</h4>
<div class="memo">
	$(.option_values.memo)
</div>

{%}header_editing{%}
<div class="form-group">
	<label>プロジェクト名</label>
	<input type="text" class="form-control jsinput_name" value="$(.name)" />
</div>
<div class="form-group">
	<label>詳細</label>
	<textarea class="form-control jsinput_memo">$(_option_values.memo)</textarea>
</div>
<div class="form-group">
	<button class="btn btn-primary jsbtn_save_to_view">保存</button>
	<button class="btn btn-default jsbtn_to_view">キャンセル</button>
	<button class="btn btn-danger jsbtn_delete">削除</button>
</div>

{%}details_tagName{%}
{%}details_className{%}
{%}details_container{%}.js_details
{%}details{%}
<div class="js_details">
	$(_Text.loadingBlock)
</div>
<br>
<button class="btn btn-default btn-block jsbtn_add_detail"><i class="fa fa-plus"></i> アイテム追加</button>

{%}detail_tagName{%}
{%}detail_className{%}media clearfix
{%}detail{%}
<button class="btn btn-default pull-right jsbtn_to_edit"><i class="fa fa-edit"></i> 編集</button>
<h4 class="jsbtn_slide_toggle text-overflow">
	$(.name)
</h4>

{%}detail_editing{%}
<div class="form-group">
	<label>ToDo</label>
	<input type="text" class="form-control jsinput_name" value="$(.name)" />
</div>
<div class="form-group">
	<label>詳細</label>
	<textarea class="form-control jsinput_memo">$(_option_values.memo)</textarea>
</div>
<div class="form-group">
	<button class="btn btn-primary jsbtn_save_to_view">保存</button>
	<button class="btn btn-default jsbtn_to_view">キャンセル</button>
	<button class="btn btn-danger jsbtn_delete_detail">削除</button>
</div>
