/* navigation */

#navigation {
  position: fixed;
	top: 0px;
	left: 0px;
  z-index: 50;
  width: 100%;
  transition: all cubic-bezier(.19, 1, .22, 1);
  transition-duration: .4s;
	height: 0px;
}

#navigation .js_projects {
  padding: 10px;
}

#navigation .navigation-header {
  width: 50px;
  height: 50px;
  text-align: center;
}

#navigation .navigation-header p {
  line-height: 50px;
}

#navigation .navigation-body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#navigation .navigation-footer {
  height: 30px;
}

#navigation .navigation-item {
  float: right;
  margin: 0px 0px 0px 10px;
  height: 100%;
}

#navigation .navigation-item.slidebar-close {
  width: 30px;
  height: 30px;
  font-size: large;
  line-height: 30px;
  text-align: center;
}

/* panel */

#main .panel {
	box-shadow: 1px 1px 5px 0px #E0E0E0;
}

#main .panel.current {
	box-shadow: 2px 2px 20px 0px #E0E0E0;
}

.panel-control {
  position: fixed; 
	right: 0px;
  background-color: #F0F0F0;
  z-index: 20;
  opacity: 0.9;
}

.panel .panel-navigation {
  position: fixed;
	right: 0px;
  width: 20px;
  height: 20px;
  margin: 10px;
	border-radius: 50%;
	background-color: none;
	border: 2px solid black;
  opacity: 0.9;
}

.panel.current .panel-navigation {
	background-color: black;
}

.panel:nth-last-child(1) .panel-navigation {
  bottom: 150px;
}
.panel:nth-last-child(2) .panel-navigation {
  bottom: 190px;
}
.panel:nth-last-child(3) .panel-navigation {
  bottom: 230px;
}
.panel:nth-last-child(4) .panel-navigation {
  bottom: 270px;
}
.panel:nth-last-child(5) .panel-navigation {
  bottom: 310px;
}
.panel:nth-last-child(6) .panel-navigation {
  bottom: 350px;
}
.panel:nth-last-child(7) .panel-navigation {
  bottom: 390px;
}
.panel:nth-last-child(8) .panel-navigation {
  bottom: 430px;
}
.panel:nth-last-child(9) .panel-navigation {
  bottom: 470px;
}
.panel:nth-last-child(10) .panel-navigation {
  bottom: 510px;
}
.panel:nth-last-child(n+11) .panel-navigation {
  display: none;		
}
