@import url("main.css");  

#projects {
}

#tasks {
}

.jsc_project {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.jsc_task {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #eee;  
}

.jsc_task.checked {
  background-color: #FEF4FF;
  border-style: none;
}

.jsc_task.unchecked {
  background-color: #ECFFEC;
  border-style: none;
}

