#projects {
}

#project {
  border-radius: 10px;
  border: 1px solid #eee;  
  padding: 10px;
}

#tasks {
}

#tasks .task {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #eee;  
}

#tasks .task.checked {
  background-color: #FEF4FF;
  border-style: none;
}

#tasks .task.unchecked {
  background-color: #ECFFEC;
  border-style: none;
}

