{%}loading{%}<i class="fa fa-spinner loading"></i>
{%}loadingBlock{%}<div class="js_loading"><i class="fa fa-spinner loading"></i></div>
{%}buttonToEdit{%}<button class="btn btn-default jsbtn_to_edit"><i class="fa fa-edit"></i>編集</button>
{%}buttonSaveToView{%}<button class="btn btn-primary jsbtn_save_to_view">保存</button>
{%}buttonToView{%}<button class="btn btn-default jsbtn_to_view">キャンセル</button>
{%}buttonDeleteDetail{%}<button class="btn btn-danger pull-right jsbtn_delete_detail">削除</button>
{%}buttonDelete{%}<button class="btn btn-danger pull-right jsbtn_delete">削除</button>
{%}ConfirmDelete{%}削除します。
